* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
  text-align: left;
}
#white h3 {
  color: goldenrod;
}
#yellow {
  color: #d9ee6b;
}

#view {
  width: 100vw;
  height: 100vh;
}

#text {
  font-family: sans-serif;
  font-size: 25px;
}

#color {
  background-color: #2ab0af;
}

span {
  color: #98e3e8;
  margin-left: 1em;
  line-height: -1px;
}
button {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  color: #d8ffff;
  border-color: #bfdf32;
  background-color: #bfdf32;
  outline: none;
}

h2 {
  color: #2da09b;
}

#white {
  background-color: #ffffff;
}

#right {
  float: right;
  width: auto;
  background-color: #4abebd;
}

#left {
  float: left;
}
.dollors {
  color: red;
  font-size: 2rem;
}
.dollors span {
  color: grey;
  font-size: 1rem;
  vertical-align: middle;
}
