* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  text-align: left;
}

#view {
  width: 100vw;
  height: 100vh;
}

.text {
  font-family: sans-serif;
  font-size: 25px;
}

#color {
  background-color: #2ab0af;
}

button {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  color: #d8ffff;
  border-color: #bfdf32;
  background-color: #bfdf32;
  outline: none;
}

h2 {
  color: #2da09b;
  padding-bottom: 1em;
  padding-top: 1em;
}

.white {
  background-color: #ffffff;
  width: 100vw;
  height: 50vh;
  padding-left: 2em;
}

.white h3 {
  color: #d9ee6b;
  padding-bottom: 1em;
}
.white p {
  color: #dbe0e6;
  padding-bottom: 0.5em;
}

.right {
  float: right;
  width: auto;
  background-color: #4abebd;
  width: 50vw;
  height: 50vh;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.right ul {
  color: #98e3e8;
}

.right h3 {
  color: #e7ffff;
  padding-bottom: 1em;
}

.left {
  float: left;
  width: 50vw;
  height: 50vh;
  background-color: #2ab0af;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.left h3 {
  color: #d8ffff;
  padding-bottom: 1em;
}

.p {
  color: #d8ffff;
  font-size: 2rem;
  padding-bottom: 1em;
}

.p span {
  color: #98e3e8;
  font-size: 1rem;
  vertical-align: center;
  margin-left: 1em;
}

.plain {
  color: white;
  padding-bottom: 1em;
}
